<p style="color: green"><%= notice %></p>
<div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      <h1 class="text-center align-middle display-6">Meus Documentos</h1>
    </div>
  </div>

  <div class="row p-2">

    <div class="card card-outline col-12">
      <div class="card-body">

          <%= link_to new_documento_path, class: "btn btn-success" do %>
            <i class="fas fa-plus mr-3"></i> Anexar novo documento
          <% end %>
        <hr/>
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Titulo</th>
              <th>Nome do Arquivo</th>
              <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <% @documentos.each do |documento| %>
              <tr>
                <td><%= documento.titulo %></td>
                <td><%= documento.arquivo.blob.filename.to_s %></td>
                <td>
                  <% if documento.relatorios.empty? %>
                    <span class="badge text-bg-primary">Relatório não Gerado</span>
                  <% else %>
                    <span class="badge text-bg-success">Relatório Gerado</span>
                  <% end %>
                </td>
              <td>
                <%= link_to 'Editar ',edit_documento_path(documento), class: "btn btn-warning" %>
                <%= retorno_do_link(documento) %>
                <%= link_to 'Excluir',documento, class: "btn btn-danger delete-document", method: :delete,
                            action: :destroy, data: { url: documento_path(documento.id, turbolinks: false) },local: true%>
              </td>
            </tr>

            </tbody>
        <% end %>
        </table>
          </div>
          </div>
  </div>
</div>



<!--  <div class="col-lg-12 pb-lg-2">-->
<!--  <div class="card px-2 py-1">-->
<!--    <div class="card-body p-0 d-flex justify-content-lg-between">-->
<!--      <div class="card-text">-->
<!--        <label class="font-weight-normal">Categories:</label>-->
<!--        <select>-->
<!--          <option>XXX</option>-->
<!--          <option>XXX</option>-->
<!--          <option>XXX</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="card-text">-->
<!--        <label class="font-weight-normal">Categories:</label>-->
<!--        <select>-->
<!--          <option>XXX</option>-->
<!--          <option>XXX</option>-->
<!--          <option>XXX</option>-->
<!--        </select>-->
<!--        <input type="text">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--  <div id="hacker-list">-->
<!--    <input class="search" />-->
<!--    <span class="sort" data-sort="name">Sort by name</span>-->
<!--    <span class="sort" data-sort="city">Sort by city</span>-->

<!--    <div class="container mt-5">-->
<!--      <div class="d-flex justify-content-between mb-3">-->
<!--        <button class="btn btn-primary sort" data-sort="nome">Ordenar por Nome</button>-->
<!--        <button class="btn btn-primary sort" data-sort="criacao">Ordenar por Data</button>-->
<!--      </div>-->
<!--      <div id="itemList">-->
<!--        <div class="list">-->
<!--          <div class="item">-->
<!--            <span class="name">Alice</span>-->
<!--            <span class="date">2023-08-01</span>-->
<!--          </div>-->
<!--          <div class="item">-->
<!--            <span class="name">Bob</span>-->
<!--            <span class="date">2024-01-15</span>-->
<!--          </div>-->
<!--          <div class="item">-->
<!--            <span class="name">Charlie</span>-->
<!--            <span class="date">2022-05-20</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div id="documentos">-->
  <%# if @documentos.empty? %>
<!--    <div class="card col-6">-->
<!--      <div class="card-title">-->
<!--        <h3>Não há documentos anexados</h3>-->
<!--      </div>-->
<!--    </div>-->
  <%# else %>
<!--        <div id="listaDocumentos" class="container mt-5">-->
<!--          <div class="d-flex justify-content-between mb-3">-->
<!--            <input class="search" placeholder="Buscar documentos" />-->
<!--            <button class="sort" data-sort="nome">Ordenar por Nome</button>-->
<!--            <button class="sort" data-sort="data">Ordenar por Data</button>-->
<!--          </div>-->
<!--          <ul class="list">-->
            <%# @documentos.each do |documento| %>
<!--              <li class="list-inline-item">-->
<!--                <div class="card">-->
<!--                  <div class="card-body">-->
                    <%#= render documento %>
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
            <%# end %>
<!--          </ul>-->
<!--        </div>-->

  <%# end %>

<!--</div>-->

