<p class="register-box-msg">Preencha os dados abaixo</p>
<%= form_with(model: usuario, class: "card") do |form| %>
  <div class="card-body register-card-body">

    <%= form.label :nome, class:"form-label" %>
    <div class="input-group col-6 mb-3">
      <%= form.text_field :nome, class:"form-control" %>
    </div>

    <%= form.label :email, class:"form-label" %>
    <div class="input-group mb-3 col-6">
      <%= form.text_field :email, class:"form-control" %>
    </div>

    <%= form.label :password,'Senha',class:"form-label" %>
    <div class="input-group mb-3">
      <%= form.password_field :password, class:"form-control" %>
    </div>

    <%= form.label :password_confirmation,'Confirmação de Senha' ,class:'form-label' %>
    <div class="input-group mb-3 col-12">
      <%= form.password_field :password_confirmation, class:'form-control' %>
    </div>

    <div class="d-flex justify-content-center pt-2">
      <%= form.submit class:"btn btn-success" %>
    </div>

  </div>





  <div>

  </div>


<% end %>
